<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Migration>
            <version>0.1.0</version>
        </Oro_Migration>
    </modules>
    <global>
        <models>
            <oro_migration>
                <class>Oro_Migration_Model</class>
                <resourceModel>oro_migration_resource</resourceModel>
            </oro_migration>
            <oro_migration_resource>
                <class>Oro_Migration_Model_Resource</class>
                <entities>
                    <increment>
                        <table>oro_migration_increments</table>
                    </increment>
                </entities>
            </oro_migration_resource>
        </models>
        <blocks>
            <oro_migration>
                <class>Oro_Migration_Block</class>
            </oro_migration>
        </blocks>
        <helpers>
            <oro_migration>
                <class>Oro_Migration_Helper</class>
            </oro_migration>
        </helpers>
        <resources>
            <oro_migration_setup>
                <setup>
                    <module>Oro_Migration</module>
                </setup>
            </oro_migration_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oro_migration before="Mage_Adminhtml">Oro_Migration_Adminhtml</oro_migration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <oro_migration>
                    <file>oro/migration.xml</file>
                </oro_migration>
            </updates>
        </layout>
    </adminhtml>
</config>
