<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Betterest>
            <version>0.1.1</version>
        </Oro_Betterest>
    </modules>
    <global>
        <helpers>
            <betterest>
                <class>Oro_Betterest_Helper</class>
            </betterest>
        </helpers>
        <models>
            <betterest>
                <class>Oro_Betterest_Model</class>
                <resourceModel>betterest_resource</resourceModel>
            </betterest>
            <betterest_resource>
                <class>Oro_Betterest_Model_Resource</class>
                <entities>
                  <shippingmap>
                    <table>oro_betterest_shipping_map</table>
                  </shippingmap>
                </entities>
            </betterest_resource>
            <matrixrate_mysql4>
                <rewrite>
                    <carrier_matrixrate>Oro_Betterest_Model_Matrixrate_Mysql4_Carrier_Matrixrate</carrier_matrixrate>
                </rewrite>
            </matrixrate_mysql4>
        </models>
        <resources>
            <betterest_setup>
                <setup>
                    <module>Oro_Betterest</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </betterest_setup>
            <betterest_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </betterest_write>
            <betterest_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </betterest_read>
        </resources>
        <blocks>
            <betterest>
                <class>Oro_Betterest_Block</class>
            </betterest>
        </blocks>
        <fieldsets>
            <sales_convert_quote>
                <custom_merchant>
                    <to_order>*</to_order>
                </custom_merchant>
            </sales_convert_quote>
            <sales_convert_order>
                <custom_merchant>
                    <to_order>*</to_order>
                </custom_merchant>
            </sales_convert_order>
        </fieldsets>
    </global>
    <admin>
        <routers>
          <betterest>
            <use>admin</use>
            <args>
              <module>Oro_Betterest</module>
              <frontName>betterest</frontName>
            </args>
          </betterest>
        </routers>
    </admin>
    <adminhtml>
        <menu>
          <system>
            <children>
              <api>
                <children>
                  <betterest module="betterest">
                    <title>Betterest</title>
                    <sort_order>30</sort_order>
                    <children>
                      <shippingmap module="betterest">
                        <title>Manage Shippingmap</title>
                        <sort_order>0</sort_order>
                        <action>betterest/adminhtml_shippingmap</action>
                      </shippingmap>
                    </children>
                  </betterest>
                </children>
              </api>
            </children>
          </system>
        </menu>
        <acl>
          <resources>
            <all>
              <title>Allow Everything</title>
            </all>
            <admin>
              <children>
                <system>
                  <children>
                    <api>
                      <children>
                        <betterest translate="title" module="betterest">
                          <title>Betterest</title>
                          <sort_order>30</sort_order>
                          <children>
                            <shippingmap translate="title">
                              <title>Manage Shippingmap</title>
                              <sort_order>0</sort_order>
                            </shippingmap>
                          </children>
                        </betterest>
                      </children>
                    </api>
                  </children>
                </system>
              </children>
            </admin>
          </resources>
        </acl>
        <layout>
          <updates>
            <betterest>
              <file>oro/betterest.xml</file>
            </betterest>
          </updates>
        </layout>
    </adminhtml>
</config> 
