<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Admin>
            <version>0.1.0</version>
        </Oro_Admin>
    </modules>
    <global>
        <models>
            <oro_admin>
                <class>Oro_Admin_Model</class>
            </oro_admin>
            <sales>
                <rewrite>
                    <order>Oro_Admin_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <oro_admin>
                <class>Oro_Admin_Block</class>
            </oro_admin>
        </blocks>
        <helpers>
            <oro_admin>
                <class>Oro_Admin_Helper</class>
            </oro_admin>
        </helpers>
        <!--
        <resources>
            <oro_admin_setup>
                <setup>
                    <module>Oro_Admin</module>
                </setup>
            </oro_admin_setup>
        </resources>
        -->
    </global>
    <adminhtml>
        <layout>
            <updates>
                <oro_admin>
                    <file>oro/admin.xml</file>
                </oro_admin>
            </updates>
        </layout>
    </adminhtml>
</config>
