<?xml version="1.0"?>
<config>
    <modules>
        <Ice_Pricekit>
            <version>0.1.0</version>
        </Ice_Pricekit>
    </modules>
    <global>
        <blocks>
            <ice_pricekit>
                <class>Ice_Pricekit_Block</class>
            </ice_pricekit>
        </blocks>
        <helpers>
            <ice_pricekit>
                <class>Ice_Pricekit_Helper</class>
            </ice_pricekit>
        </helpers>
        <models>
            <ice_pricekit>
                <class>Ice_Pricekit_Model</class>
            </ice_pricekit>
        </models>
        <resources>
            <ice_pricekit_setup>
                <setup>
                    <module>Ice_Pricekit</module>
                    <class>Ice_Pricekit_Model_Resource_Setup</class>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </ice_pricekit_setup>
            <ice_pricekit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ice_pricekit_write>
            <ice_pricekit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ice_pricekit_read>
        </resources>
    </global>
</config>