<?xml version="1.0"?>
<config>
    <modules>
        <Ice_Pricekit>
            <version>0.1.0</version>
        </Ice_Pricekit>
    </modules>
    <global>
        <models>
        <ice_pricekit>
            <class>Ice_Pricekit_Model</class>
            <resourceModel>ice_pricekit_mysql4</resourceModel>
        </ice_pricekit>
        <ice_pricekit_mysql4>
            <class>Ice_Pricekit_Model_Mysql4</class>
            <entities>
                <entity>
                    <table>ice_pricekit_entity</table>
                </entity>
                <item>
                    <table>ice_pricekit_item</table>
                </item>
                <type>
                    <table>ice_pricekit_type</table>
                </type>
            </entities>
        </ice_pricekit_mysql4>
    </models>
        <blocks>
            <ice_pricekit>
                <class>Ice_Pricekit_Block</class>
            </ice_pricekit>
        </blocks>
        <helpers>
            <ice_pricekit>
                <class>Ice_Pricekit_Helper</class>
            </ice_pricekit>
        </helpers>
        <resources>
            <ice_pricekit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ice_pricekit_write>
            <ice_pricekit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ice_pricekit_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <ice_pricekit module="ice_pricekit">
                    <file>ice_pricekit.xml</file>
                </ice_pricekit>
            </updates>
        </layout>
        <routers>
            <ice_pricekit>
                <use>standard</use>
                <args>
                    <module>Ice_Pricekit</module>
                    <frontName>pricekit</frontName>
                </args>
            </ice_pricekit>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ice_pricekit before="Mage_Adminhtml">Ice_Pricekit_Adminhtml</ice_pricekit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ice_pricekit module="ice_pricekit">
                    <file>pricekit.xml</file>
                </ice_pricekit>
            </updates>
        </layout>
    </adminhtml>
</config>

