<?xml version="1.0"?>
<!--
/**
 * @category   Oro
 * @package    Oro_Friends
 * @copyright  Copyright (c) 2014 Oro Inc. DBA MageCore (http://www.magecore.com)
 */
-->
<config>
    <modules>
        <Oro_Friends>
            <version>0.1.1</version>
        </Oro_Friends>
    </modules>
    <global>
        <models>
            <oro_friends>
                <class>Oro_Friends_Model</class>
            </oro_friends>
            <salesrule>
                <rewrite>
                    <rule_condition_product>Oro_Friends_Model_SalesRule_Rule_Condition_Product</rule_condition_product>
                </rewrite>
            </salesrule>
            <newsletter>
                <rewrite>
                    <subscriber>Oro_Friends_Model_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <events>
            <customer_customer_authenticated>
                <observers>
                    <oro_friends>
                        <class>oro_friends/observer</class>
                        <method>loyaltyAuth</method>
                    </oro_friends>
                </observers>
            </customer_customer_authenticated>
            <sales_order_place_after>
                <observers>
                    <oro_friends>
                        <class>oro_friends/observer</class>
                        <method>purchaseEvent</method>
                    </oro_friends>
                </observers>
            </sales_order_place_after>
            <email_subscribed>
                <observers>
                    <oro_friends>
                        <class>oro_friends/observer</class>
                        <method>subscribeEvent</method>
                    </oro_friends>
                </observers>
            </email_subscribed>
        </events>
        <blocks>
            <oro_friends>
                <class>Oro_Friends_Block</class>
            </oro_friends>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_form>Oro_Friends_Block_Adminhtml_Promo_Quote_Edit_Form</promo_quote_edit_form>
                    <promo_quote_edit_tab_coupons_grid>Oro_Friends_Block_Adminhtml_Promo_Quote_Edit_Tab_Coupons_Grid</promo_quote_edit_tab_coupons_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <oro_friends>
                <class>Oro_Friends_Helper</class>
            </oro_friends>
        </helpers>
        <resources>
            <oro_friends_setup>
                <setup>
                    <module>Oro_Friends</module>
                </setup>
            </oro_friends_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <fhfriends>
                <use>standard</use>
                <args>
                    <module>Oro_Friends</module>
                    <frontName>fhfriends</frontName>
                </args>
            </fhfriends>
        </routers>
        <layout>
            <updates>
                <oro_friends>
                    <file>oro/friends.xml</file>
                </oro_friends>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <oro_friends>
                        <class>oro_friends/observer</class>
                        <method>checkCoupon</method>
                    </oro_friends>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_checkout>
                <observers>
                    <oro_friends>
                        <class>oro_friends/observer</class>
                        <method>applyCoupon</method>
                    </oro_friends>
                </observers>
            </controller_action_predispatch_checkout>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oro_friends before="Mage_Adminhtml">Oro_Friends_Adminhtml</oro_friends>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <oro_friends>
                    <file>oro/friends.xml</file>
                </oro_friends>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <promo>
            <oro_friends>
                <api_uri>https://loyalty.500friends.com</api_uri>
            </oro_friends>
        </promo>
    </default>
</config>
