<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Orderstat>
            <version>0.1.2</version>
        </Oro_Orderstat>
    </modules>
    <global>
        <models>
            <orderstat>
                <class>Oro_Orderstat_Model</class>
                <resourceModel>orderstat_resource</resourceModel>
            </orderstat>
            <orderstat_resource>
                <class>Oro_Orderstat_Model_Resource</class>
                <entities>
                    <vendor>
                        <table>product_vendor</table>
                    </vendor>
                    <index>
                        <table>product_vendor_sku</table>
                    </index>
                </entities>
            </orderstat_resource>
        </models>
        <blocks>
            <orderstat>
                <class>Oro_Orderstat_Block</class>
            </orderstat>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Oro_Orderstat_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <orderstat>
                <class>Oro_Orderstat_Helper</class>
            </orderstat>
        </helpers>
        <resources>
            <orderstat_setup>
                <setup>
                    <module>Oro_Orderstat</module>
                </setup>
            </orderstat_setup>
        </resources>
        <events>
            <sales_quote_product_add_after>
                <observers>
                    <orderstat>
                        <class>orderstat/observer</class>
                        <method>addVendorSku</method>
                    </orderstat>
                </observers>
            </sales_quote_product_add_after>
        </events>
        <fieldsets>
            <sales_convert_quote_item>
                <vendor_sku>
                    <to_order_item>*</to_order_item>
                </vendor_sku>
            </sales_convert_quote_item>
        </fieldsets>
        <index>
            <indexer>
                <orderstat>
                    <model>orderstat/indexer_vendorsku</model>
                </orderstat>
            </indexer>
        </index>
    </global>
    <admin>
        <routers>
            <orderstat>
                <use>admin</use>
                <args>
                    <module>Oro_Orderstat_Adminhtml</module>
                    <frontName>orderstat</frontName>
                </args>
            </orderstat>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <oro_orderstat>
                        <class>orderstat/observer</class>
                        <method>addApproveShipmentButton</method>
                    </oro_orderstat>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <orderstat_order>
                <schedule>
                    <config_path>orderstat/order/cron</config_path>
                </schedule>
                <run>
                    <model>orderstat/observer::orderExport</model>
                </run>
            </orderstat_order>
            <orderstat_shipment_delmar>
                <schedule>
                    <config_path>orderstat/delmar_shipment/cron</config_path>
                </schedule>
                <run>
                    <model>orderstat/observer_delmar::shipmentImport</model>
                </run>
            </orderstat_shipment_delmar>
            <orderstat_inventory_delmar>
                <schedule>
                    <config_path>orderstat/delmar_inventory/cron</config_path>
                </schedule>
                <run>
                    <model>orderstat/observer_delmar::inventoryImport</model>
                </run>
            </orderstat_inventory_delmar>
            <orderstat_inventory_accuratime>
                <schedule>
                    <config_path>orderstat/accuratime_inventory/cron</config_path>
                </schedule>
                <run>
                    <model>orderstat/observer_accuratime::inventoryImport</model>
                </run>
            </orderstat_inventory_accuratime>
            <orderstat_shipment_accuratime>
                <schedule>
                    <config_path>orderstat/accuratime_shipment/cron</config_path>
                </schedule>
                <run>
                    <model>orderstat/observer_accuratime::shipmentImport</model>
                </run>
            </orderstat_shipment_accuratime>
        </jobs>
    </crontab>
    <default>
        <orderstat>
            <delmar_ftp>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
            </delmar_ftp>
            <accuratime_inventory>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
            </accuratime_inventory>
            <accuratime_shipment>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
            </accuratime_shipment>
        </orderstat>
    </default>
</config>