<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Indexcron>
            <version>0.1.0</version>
        </Oro_Indexcron>
    </modules>
    <global>
        <models>
            <indexcron>
                <class>Oro_Indexcron_Model</class>
                <resourceModel>indexcron_resource</resourceModel>
            </indexcron>
            <indexcron_resource>
                <class>Oro_Indexcron_Model_Resource</class>
            </indexcron_resource>
        </models>
        <blocks>
            <indexcron>
                <class>Oro_Indexcron_Block</class>
            </indexcron>
        </blocks>
        <helpers>
            <indexcron>
                <class>Oro_Indexcron_Helper</class>
            </indexcron>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <oro_indexcron>
                <schedule>
                    <config_path>indexcron/cron/expression</config_path>
                </schedule>
                <run>
                    <model>indexcron/observer::reindex</model>
                </run>
            </oro_indexcron>
        </jobs>
    </crontab>
    <default>
        <indexcron>
            <cron>
                <expression>0 2 * * *</expression>
            </cron>
        </indexcron>
    </default>
</config>
