<?xml version="1.0"?>
<config>
	<modules>
		<Strands_Recommender>
			<version>1.7.3</version>
		</Strands_Recommender>
	</modules>
	
	<global>
		<models>
			<recommender>
				<class>Strands_Recommender_Model</class>
			</recommender>
		</models>
		<blocks>
			<recommender>
				<class>Strands_Recommender_Block</class>
			</recommender>
		</blocks>
		<helpers>
			<recommender>
				<class>Strands_Recommender_Helper</class>
			</recommender>
		</helpers>
	</global>
	
	<frontend>
		<layout>
			<updates>
				<recommender>
					<file>strands_recommender.xml</file>
				</recommender>
			</updates>
		</layout>
		<events>
			<checkout_cart_product_add_after>
				<observers>
					<recommender_product_add_observer>
						<type>singleton</type>
						<class>recommender/observer</class>
						<method>eventCartChange</method>
					</recommender_product_add_observer>
				</observers>
			</checkout_cart_product_add_after>
			<customer_login>
				<observers>
					<recommender_customer_login_observer>
						<type>singleton</type>
						<class>recommender/observer</class>
						<method>eventUserLogin</method>
					</recommender_customer_login_observer>
				</observers>
			</customer_login>
			<controller_action_postdispatch_catalogsearch_result_index>
				<observers>
					<recommender_postdispatch_observer>
						<type>singleton</type>
						<class>recommender/observer</class>
						<method>eventPostDispatchSearch</method>
					</recommender_postdispatch_observer>
				</observers>
			</controller_action_postdispatch_catalogsearch_result_index>
			<controller_action_postdispatch_catalog_product_view>
				<observers>
					<recommender_postdispatch_observer>
						<type>singleton</type>
						<class>recommender/observer</class>
						<method>eventPostDispatchProductView</method>
					</recommender_postdispatch_observer>
				</observers>
			</controller_action_postdispatch_catalog_product_view>
			<sales_order_payment_place_end>
				<observers>
					<recommender_pay_observer>
						<type>singleton</type>
						<class>recommender/observer</class>
						<method>eventPayInvoice</method>
					</recommender_pay_observer>
				</observers>
			</sales_order_payment_place_end>
			<wishlist_add_product>
				<observers>
					<recommender_wishlist_observer>
						<type>singleton</type>
						<class>recommender/observer</class>
						<method>eventWishlistAdd</method>
					</recommender_wishlist_observer>
				</observers>
			</wishlist_add_product>
		</events>
		<routers>
			<recommender>
				<use>standard</use>
				<args>
					<module>Strands_Recommender</module>
					<frontName>recommender</frontName>
				</args>
			</recommender>
		</routers> 
	</frontend>
	<adminhtml>
		<events>
			<controller_action_predispatch_adminhtml_system_config_save>
				<observers>
					<recommender_predispatch_observer>
						<type>singleton</type>
						<class>recommender/observer</class>
						<method>eventPreDispatch</method>
					</recommender_predispatch_observer>
				</observers>
			</controller_action_predispatch_adminhtml_system_config_save>
		</events>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all> 
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<recommender module="recommender"> 
											<title>Strands Recommender</title>									
										</recommender>					
									</children>
								</config>
							</children> 
						</system>
					</children>	
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<recommender>
					<file>strands_recommender.xml</file>
				</recommender>
			</updates>
		</layout>
	</adminhtml>
	<crontab>
		<jobs>
			<recommender_apply_all>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>recommender/observer::uploadCatalog</model></run>
            </recommender_apply_all>

		</jobs>
	</crontab>
</config>