<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Delmar>
            <version>0.1.3</version>
        </Oro_Delmar>
    </modules>
    <global>
        <models>
            <delmar>
                <class>Oro_Delmar_Model</class>
                <resourceModel>delmar_resource</resourceModel>
            </delmar>
            <delmar_resource>
                <class>Oro_Delmar_Model_Resource</class>
                <entities>
                    <index>
                        <table>product_vendor_sku</table>
                    </index>
                </entities>
            </delmar_resource>
        </models>
        <blocks>
            <delmar>
                <class>Oro_Delmar_Block</class>
            </delmar>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Oro_Delmar_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <delmar>
                <class>Oro_Delmar_Helper</class>
            </delmar>
        </helpers>
        <resources>
            <delmar_setup>
                <setup>
                    <module>Oro_Delmar</module>
                </setup>
            </delmar_setup>
        </resources>
        <events>
            <sales_quote_product_add_after>
                <observers>
                    <delmar>
                        <class>delmar/observer</class>
                        <method>addVendorSku</method>
                    </delmar>
                </observers>
            </sales_quote_product_add_after>
        </events>
        <fieldsets>
            <sales_convert_quote_item>
                <vendor_sku>
                    <to_order_item>*</to_order_item>
                </vendor_sku>
            </sales_convert_quote_item>
        </fieldsets>
        <index>
            <indexer>
                <delmar>
                    <model>delmar/indexer_vendorsku</model>
                </delmar>
            </indexer>
        </index>
    </global>
    <admin>
        <routers>
            <delmar>
                <use>admin</use>
                <args>
                    <module>Oro_Delmar_Adminhtml</module>
                    <frontName>delmar</frontName>
                </args>
            </delmar>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <oro_delmar>
                        <class>delmar/observer</class>
                        <method>addApproveShipmentButton</method>
                    </oro_delmar>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <delmar_order>
                <schedule>
                    <config_path>delmar/order/cron</config_path>
                </schedule>
                <run>
                    <model>delmar/observer::orderExport</model>
                </run>
            </delmar_order>
            <delmar_order_diamond_candles>
                <schedule>
                    <config_path>delmar/order_diamond_candles/cron</config_path>
                </schedule>
                <run>
                    <model>delmar/observer::diamondCandlesOrderExport</model>
                </run>
            </delmar_order_diamond_candles>
            <delmar_shipment>
                <schedule>
                    <config_path>delmar/shipment/cron</config_path>
                </schedule>
                <run>
                    <model>delmar/observer::shipmentImport</model>
                </run>
            </delmar_shipment>
            <delmar_inventory>
                <schedule>
                    <config_path>delmar/inventory/cron</config_path>
                </schedule>
                <run>
                    <model>delmar/observer::inventoryImport</model>
                </run>
            </delmar_inventory>
        </jobs>
    </crontab>
    <default>
        <delmar>
            <ftp>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
                <path>/</path>
            </ftp>
            <order>
                <cron>*/5 * * * *</cron>
                <ftp_path>ICUOrder</ftp_path>
            </order>
            <shipment>
                <cron>0 * * * *</cron>
                <ftp_path>ICUShipConfirm</ftp_path>
                <reindex>0</reindex>
            </shipment>
            <inventory>
                <cron>*/30 * * * *</cron>
                <ftp_path>ICUInventory</ftp_path>
                <reindex>0</reindex>
            </inventory>
        </delmar>
    </default>
</config>
