<?xml version="1.0"?>
<config>
    <sections>
        <delmar translate="label" module="delmar">
            <label>Delmar Integration</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>103</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <expanded>1</expanded>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <is_active translate="label">
                            <label>Enable Integration</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_active>
                        <debug translate="label">
                            <label>Enable "Debug" mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                    </fields>
                </general>
                <ftp translate="label">
                    <label>FTP Settings</label>
                    <frontend_type>text</frontend_type>
                    <expanded>1</expanded>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <adapter translate="label">
                            <label>FTP Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>delmar/source_ftptype</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </adapter>
                        <host translate="label">
                            <label>FTP Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </host>
                        <user translate="label">
                            <label>FTP User</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </user>
                        <password translate="label">
                            <label>FTP Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <path translate="label">
                            <label>FTP Base Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </path>
                        <passive translate="label">
                            <label>FTP Passive Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </passive>
                    </fields>
                </ftp>
                <order translate="label">
                    <label>Order Export Settings</label>
                    <frontend_type>text</frontend_type>
                    <expanded>1</expanded>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <auto translate="label">
                            <label>Export periodically by cron</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auto>
                        <cron translate="label">
                            <label>Export schedule</label>
                            <frontend_type>text</frontend_type>
                            <comment>cron syntax</comment>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron>
                        <ftp_path>
                            <label>FTP Folder</label>
                            <frontend_type>text</frontend_type>
                            <comment>folder should be writable</comment>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ftp_path>
                    </fields>
                </order>
                <order_diamond_candles translate="label">
                    <label>Diamond Candles Order Export Settings</label>
                    <frontend_type>text</frontend_type>
                    <expanded>1</expanded>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <auto translate="label">
                            <label>Export periodically by cron</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auto>
                        <cron translate="label">
                            <label>Export schedule</label>
                            <frontend_type>text</frontend_type>
                            <comment>cron syntax</comment>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron>
                        <ftp_path>
                            <label>Diamond Candles FTP Folder</label>
                            <frontend_type>text</frontend_type>
                            <comment>Folder should be writable</comment>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ftp_path>
                    </fields>
                </order_diamond_candles>
                <shipment translate="label">
                    <label>Shipment Creation Settings</label>
                    <frontend_type>text</frontend_type>
                    <expanded>1</expanded>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <auto translate="label">
                            <label>Import Shipments</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auto>
                        <cron translate="label">
                            <label>Pull schedule</label>
                            <frontend_type>text</frontend_type>
                            <comment>cron syntax</comment>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron>
                        <ftp_path>
                            <label>FTP Folder</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ftp_path>
                        <lastSync>
                            <label>Last Sync Date</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>delmar/system_config_backend_timestamp</backend_model>
                            <comment>Do not change this if you don`t know what are you doing</comment>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lastSync>
                        <capture translate="label">
                            <label>Capture payment after shipment confirmation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </capture>
                    </fields>
                </shipment>
                <inventory translate="label">
                    <label>Inventory Update Settings</label>
                    <frontend_type>text</frontend_type>
                    <expanded>1</expanded>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <auto translate="label">
                            <label>Automatic Update Inventory</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auto>
                        <cron translate="label">
                            <label>Pull schedule</label>
                            <frontend_type>text</frontend_type>
                            <comment>cron syntax</comment>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron>
                        <ftp_path>
                            <label>FTP Folder</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ftp_path>
                        <reindex translate="label">
                            <label>Update Indexes after inventory import</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </reindex>
                        <lastSync>
                            <label>Last Sync Date</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>delmar/system_config_backend_timestamp</backend_model>
                            <comment>Do not change this if you don`t know what are you doing</comment>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lastSync>
                    </fields>
                </inventory>
            </groups>
        </delmar>
    </sections>
</config>
